---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import EmailIcon from '../components/icons/Email.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase2 from '../components/icons/Briefcase2.astro';
import CodeIcon from '../components/icons/Code.astro';
import Education from '../components/Education.astro';
import GraduateIcon from '../components/icons/Graduate.astro';
import Projects from '../components/Projects.astro';
import UserIcon from '../components/icons/User.astro';
import About from '../components/About.astro';
---

<Layout 
	title="Porfolio de José María García Berdejo | Ingeniero Software y Desarrollador Web"
	description="Contrata a José María García Berdejo para crear tu página o aplicación web. Ingeniero Software y Desarrollador Web."
>
	<main class="px-4">
		<SectionContainer class="py-14">
			<div class="img-linkeding">
				<img 
					class="rounded-full size-20"
					src="/josemariagb02pic.png" 
					alt="josemariagb02 photo" 
				/>
				<a class="flex justify-center items-center"
					href="https://www.linkedin.com/in/jos%C3%A9-mar%C3%ADa-garc%C3%ADa-berdejo-9022052b2/"
					rel="noopener nonreferrer">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</div>
			<h1 class="text-slate-800 text-3xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-4 pb-2 lg:pb-4 py-4">
				Hola, soy José María 
			</h1>
			<h2 class="text-xl lg:text-xl opacity-80 text-wrap max-w-[700px]">
				Soy una persona trabajadora y responsable, <span class="text-red-700/100 font-bold">capaz de conseguir cualquier 
				objetivo que me proponga.</span> Me considero una persona <span class="text-slate-800/100 font-bold"> amable, resolutiva </span>y con 
				<span class="text-slate-800/100 font-bold"> capacidad </span> para <span class="text-slate-800/100 font-bold"> trabajar en equipo. </span> Me entusiasma la tecnología y la 
				programación, pero sobre todo me encanta aprender y compartir conocimientos.
					Mis intereses actuales dentro del ámbito del software son <span class="text-slate-900 font-bold">el desarrollo web y la ciberseguridad.
				</span>
			</h2>
			<nav class="flex gap-3 pt-6 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/jos%C3%A9-mar%C3%ADa-garc%C3%ADa-berdejo-9022052b2/">
					<LinkedInIcon class="size-5"/>
						LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/josgarber6">
					<GitHubIcon class="size-5"/>
						GitHub
				</SocialPill>
				<SocialPill href="mailto:josemariagb02@gmail.com">
					<EmailIcon class="size-5"/>
					 Contáctame
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<div class="flex flex-row items-center pb-5">
				<Briefcase2 class="size-7"/>
				<h1 class="text-3xl font-semibold text-slate-800 dark:text-slate-50 p-4">
					Experiencia Laboral
				</h1>
			</div>
			<Experience />
		</SectionContainer>
		<SectionContainer id="formacion">
			<div class="flex flex-row items-center pt-10 pb-5">
				<GraduateIcon class="size-7"/>
				<h1 class="text-3xl font-semibold text-slate-800 dark:text-slate-50 p-4 py-0">
					Formación Académica
				</h1>
			</div>
			<h2 class="text-[16px] font-normal text-slate-800 dark:text-gray-900 italic text-center pb-10">Última actualización 03/07/2024</h2>
			<Education />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<div class="flex flex-row items-center pt-10 pb-5">
				<CodeIcon class="size-7"/>
				<h1 class="text-3xl font-semibold text-slate-800 dark:text-slate-50 p-4 py-0">
					Proyectos
				</h1>
			</div>
			<Projects />
		</SectionContainer>
		<SectionContainer id="sobre-mi">
			<div class="flex flex-row items-center pt-10 pb-5">
				<UserIcon class="size-7"/>
				<h1 class="text-3xl font-semibold text-slate-800 dark:text-slate-50 p-4 py-0">
					Sobre mí
				</h1>
			</div>
			<About />
		</SectionContainer>
	</main>
</Layout>

<style>
	.img-linkeding {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.img-linkeding a {
		margin-left: 1rem;
	}
</style>