---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import EmailIcon from '../components/icons/Email.astro';
---

<Layout 
	title="Portfolio de José María García Berdejo | Ingeniero Software y Desarrollador Web"
	description="Contrata a José María García Berdejo para crear tu página o aplicación web. Ingeniero Software y Desarrollador Web."
>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-14">
			<div class="img-linkeding">
				<img 
					class="rounded-full size-20"
					src="/josemariagb02pic.png" 
					alt="josemariagb02 photo" 
				/>
				<a class="flex justify-center items-center"
					href="https://www.linkedin.com/in/jos%C3%A9-mar%C3%ADa-garc%C3%ADa-berdejo-9022052b2/"
					rel="noopener nonreferrer">
					<Badge>Disponible para trabajar</Badge>
				</a>
				<!-- <span class="relative inline-flex overflow-hidden rounded-full p-[1px]"> <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span> <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"> Trabajando </div> </span> -->
			</div>
			<h1 class="text-slate-800 text-5xl font-bold flex flex-row gap-x-4 pb-4 py-4">
				Hola, soy José María 
			</h1>
			<h2 class="text-2xl opacity-80">
				Soy una persona trabajadora y responsable, <span class="text-red-700/100 font-bold">capaz de conseguir cualquier 
				objetivo que me proponga.</span> Me considero una persona <span class="text-slate-800/100 font-bold"> amable, resolutiva </span>y con 
				<span class="text-slate-800/100 font-bold"> capacidad </span> para <span class="text-slate-800/100 font-bold"> trabajar en equipo. </span> Me entusiasma la tecnología y la 
				programación, pero sobre todo me encanta aprender y compartir conocimientos.
					Mis intereses actuales dentro del ámbito del software son <span class="text-yellow-50">el desarrollo web y la ciberseguridad.
				</span>
			</h2>
			<nav class="flex gap-x-3 pt-6">
				<SocialPill href="https://www.linkedin.com/in/jos%C3%A9-mar%C3%ADa-garc%C3%ADa-berdejo-9022052b2/">
					<LinkedInIcon class="size-5"/>
						LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/josgarber6">
					<GitHubIcon class="size-5"/>
						GitHub
				</SocialPill>
				<SocialPill href="mailto:josemariagb02@gmail.com">
					<EmailIcon class="size-5"/>
					 Contáctame
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>

<style>
	.img-linkeding {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.img-linkeding a {
		margin-left: 1rem;
	}
</style>