---
const EXPERIENCE = [
  {
    date: 'Enero 2025 - Abril 2025',
    title: 'Desarrollador web',
    place: 'Cenit S.L.',
    description: 'Desarrollador web con Spring y Vaadin para un sistema de la Junta de Andalucía.',
    link: 'https://www.cenitcon.com/'
  },
  {
    date: 'Noviembre 2024 - Enero 2025',
    title: 'Consultor APEX y PL/SQL en prácticas',
    place: 'Cenit S.L.',
    description: 'Curso de formación en PL/SQL y APEX, y puesta en marcha de un proyecto APEX para gestionar tareas.',
    link: 'https://www.cenitcon.com/'
  },
  {
    date: 'Junio 2017 - Actualidad',
    title: 'DJ y productor musical',
    place: '',
    description: 'Realización tanto de eventos privados como de fiestas en discotecas y terrazas de Sevilla y Huelva.'
  },
  // {
  //   date: 'April 2022',
  //   title: 'E-Commerce UI code in Tailwind CSS',
  //   description: 'Get started with dozens of web components and interactive elements built on top of Tailwind CSS.'
  // }
]
import ExperienceItem from './ExperienceItem.astro'
---
<ol class="relative border-s border-white dark:border-gray-700 ml-3">
  <div>
  {
    EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experience} />
        </li>      
      ))
    }
  </div>
</ol>