<footer class="flex flex-row w-full justify-center items-center text-center pt-10">
    <h3 class="font-normal text-slate-800/80 text-sm">© 2024 José María García. 
      Este portfolio ha sido creado a partir de tutoriales de 
      <a href="https://www.youtube.com/watch?v=HEMvsJTBweY" class="font-bold text-[18px] hover:underline">Midudev</a>
    </h3>
</footer>