<a
  class="rounded-full border border-slate-800/80 flex justify-center items-center gap-x-2 py-1 px-4
  bg-white/10 hover:bg-slate-800/100 hover:scale-110 hover:text-white/80 transition"
  {...Astro.props}
  target="_blank"
  rel="noopener nonreferrer"
  >
  <slot/>
</a>