---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/onest';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/josemariagb02pic.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative text-black dark:text-white">
		<!-- Fondo del portfolio -->
		<div class="absolute inset-0 -z-10 h-full w-full bg-white dark:bg-gray-950 [background:radial-gradient(125%_100%_at_50%_10%,#ddd_15%,#8a959c_100%)]
		dark:bg-[radial-gradient(125%_100%_at_50%_10%,#52595d_15%,#37393b_100%)]">
		</div>
		<Header />
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: #636262;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

</style>
